* {
  margin: 0;
  padding: 0; }

body {
  color: #e5c328;
  background: #23211a; }
  body a {
    color: #e5c328; }

#uuid {
  position: fixed;
  top: -50px;
  left: 0;
  width: 100%;
  height: 56px;
  border-bottom: #413708;
  background: white;
  color: #333333;
  box-shadow: 3px 3px 3px black;
  -webkit-transition-property: top;
  -webkit-transition-timing-function: linear;
  -webkit-transition-duration: 0.5s; }
  #uuid p {
    padding: 20px 20px 10px 20px;
    text-align: right;
    font-style: italic; }
  #uuid img {
    position: absolute;
    top: 5px;
    left: 10px; }
  #uuid button {
    position: absolute;
    top: 15px;
    left: 400px;
    display: block;
    width: 100px;
    padding: 10px 5px; }
  #uuid.show {
    top: 0px; }

#wrapper {
  width: 900px;
  margin: 90px auto 0 auto; }
  #wrapper .video {
    width: 500px;
    height: 360px;
    position: relative;
    float: left;
    background: #cccccc; }
    #wrapper .video video {
      width: 500px;
      height: 360px;
      position: absolute;
      top: 0;
      left: 0; }
    #wrapper .video #localVideo {
      -webkit-transform-origin: bottom right;
      -webkit-transition-property: -webkit-transform;
      -webkit-transition-duration: 1s; }
      #wrapper .video #localVideo.connected {
        -webkit-transform: scale(0.25, 0.25); }
  #wrapper #chatSection {
    width: 380px;
    height: 300px;
    margin-left: 520px;
    position: relative;
    opacity: 0.2; }
    #wrapper #chatSection .post {
      overflow-x: hidden;
      overflow-y: auto;
      height: 285px; }
      #wrapper #chatSection .post > div {
        border: solid 1px #cccccc;
        border-top: none;
        padding: 10px;
        font-size: 0.9em;
        color: white; }
        #wrapper #chatSection .post > div:first-child {
          border-top: solid 1px #cccccc; }
        #wrapper #chatSection .post > div.self {
          color: #e5c328; }
    #wrapper #chatSection .chatPost {
      position: absolute;
      bottom: -60px; }
      #wrapper #chatSection .chatPost textarea {
        display: block;
        height: 60px;
        padding: 6px;
        width: 368px;
        font-size: 1em; }

#members {
  position: fixed;
  bottom: 0;
  right: 20px;
  border-radius: 8px 8px 0 0;
  border: solid 1px #413708;
  border-bottom: none;
  list-style: none;
  width: 300px;
  background: #23211a; }
  #members li {
    padding: 10px;
    text-align: center;
    opacity: 0;
    cursor: pointer;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.5s; }
    #members li.active {
      opacity: 1; }
    #members li:hover {
      background-color: #e5c328;
      color: #23211a; }
    #members li:first-child {
      border-radius: 8px 8px 0 0; }
